<app-navbar></app-navbar>

<div
class="relative pt-16 pb-20 flex content-center items-center justify-center "

>
<div
  class="absolute top-0 w-full h-80 bg-top bg-cover "  style="background-image: url('../../assets/images/banner/af82b1b22f25aa21e8cc3f8b9268ae74.jpg');">
  <span
    id="blackOverlay"
    class="w-full h-full absolute opacity-75  text-white text-center font-extrabold text-4xl pt-20 content-center justify-center mt-10 lg:mt-20 "
  > WHO WE ARE?
</span>
</div>


</div>

<div class="flex flex-col flex-wrap bg-yellow-900 text-center justify-center content-center  pt-60 px-25" >
  <div class="px-10"> 
    <p class="text-4xl text-yellow-400 font-bold pb-7">ABOUT US</p>
    <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">Swami vivekanandar sevalaya and Social development in Utiramerur was started on 4-8-2013. Since then it has been performing various social services and activities. This trust comes under the State government of Tamil Nadu, India, and works are done based on rules and regulations of the Ramakrishna mission. Our Trust has been registered under the Department of Social Welfare and works towards the welfare of people in our society.</p>


  </div>  
</div>

<div class="flex flex-col flex-wrap bg-yellow-900 text-center justify-center content-center   px-25" >
    <div class="px-10"> 
      <p class="text-4xl text-yellow-400 font-bold pb-7 pt-20">HOW YOU CAN HELP US</p>
      <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">Swami vivekanandar sevalaya Provides various special training for students ,Youngsters and Unemployyed person to improve their skills. One of the main hurdle we are facing is the lack of proper toilets for the members and students. As the number of persons in the trust has been increased there is an lack of space for the students to study. You can donate directly to the bank details given below or you can contact us in person and make a donation. We guarantee that every rupee you donate will be made to good use by our trust.</p>
  
  
    </div>  
  </div>


  <div class="flex flex-col flex-wrap bg-yellow-900 text-center justify-center content-center   px-25" >
    <div class="px-10"> 
      <p class="text-4xl text-yellow-400 font-bold pb-7 pt-20">DONATE TO US NOW</p>
      <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">Bank Name : INDIAN BANK
    </p>
    <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">Branch Name : UTHIRAMERUR (Branch Code:2390)
    </p>
    <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">Account Name : SWAMI VIVEKANANDAR SEVALAYA AND SOCIAL DEVELOPMENT
    </p>
    <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">Account No : 6561205031
    </p>
    <p class="px-7 font-semibold text-white text-2xl lg:px-20 pb-10">IFSC CODE : IDIB000U032

    </p>
  
  
    </div>  
  </div>


  <app-footer></app-footer>
  


