

  <header class="bg-yellow-900 flex flex-wrap justify-between items-center lg:px-16 px-6 lg:py-0 py-2">
    <div class="flex flex-row ">
      <div class="w-16 xl:p-2 lg:w-20">
        <img src="../../assets/images/logo.png" >
      </div>

      <div class=" text-xs ">
        <p class="font-serif text-gray-50 uppercase lg:text-lg lg:font-bold pt-4">vivekanandar sevalaya</p>
        <p class="text-gray-100 uppercase md:text-xs  sm:text-xs">Swami Vivekanandar Trust</p>
      </div>
    </div>


    <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
    <nav>
      <ul class="lg:flex items-center justify-between text-base text-gray-50 pt-4 lg:pt-0">
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-yellow-200" routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-yellow-200" routerLink="/About" routerLinkActive="active">About</a></li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent  hover:border-yellow-200" routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent  hover:border-yellow-200" routerLink="/trust-members" routerLinkActive="active">Trust-Members</a></li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent  hover:border-yellow-200" routerLink="/images" routerLinkActive="active">Images</a></li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-yellow-200 lg:mb-0 mb-2" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>


  </div>
  </header>