<app-navbar></app-navbar>




<div class="bg-yellow-800 pt-10">
<div class="max-w-2xl bg-yellow-800 py-10 px-5 m-auto w-full ">

    <div class=" text-center text-4xl text-yellow-400 font-bold pb-7">
        WE'RE READY, LET'S TALK.

    </div>
  
    <div class="grid grid-cols-2 gap-4 max-w-xl m-auto">
  
      <div class="col-span-2 lg:col-span-1">
        <input type="text" class="border-solid border-gray-400 border-2 p-3 md:text-xl w-full" placeholder="Name"/>
      </div>
  
      <div class="col-span-2 lg:col-span-1">
        <input type="text" class="border-solid border-gray-400 border-2 p-3 md:text-xl w-full" placeholder="Email Address"/>
      </div>
  
      <div class="col-span-2">
        <textarea cols="30" rows="8" class="border-solid border-gray-400 border-2 p-3 md:text-xl w-full" placeholder="Message"></textarea>
      </div>
  
      <div class="col-span-2 text-right">
        <button class="py-3 px-6 bg-yellow-600 text-white font-bold w-full sm:w-32">
          Submit
        </button>
      </div>
  
    </div>
  </div>

</div>





<div class="bg-yellow-800 pt-10">
    
    <div class=" text-center  text-4xl text-yellow-400 font-bold pb-7 uppercase">
        address

    </div>
    <div class="  text-xl text-center text-white font-bold pb-7 uppercase justify-items-center">
        No 64, Kadalamangalam (Village), Malliankaranai (Post)
Utiramerur - 603 406, Kanchipuram District

    </div>


    <div class=" text-center  text-4xl text-yellow-400 font-bold pb-7 uppercase pt-5">
        Email-us

    </div>

    <div class="  text-xl text-center text-white font-bold pb-7 uppercase justify-items-center">
        sevalayakadalmangalam@gmail.com

    </div>

    <div class=" text-center  text-4xl text-yellow-400 font-bold pb-7 uppercase pt-5 ">
        Phone No

    </div>
    <div class="  text-xl text-center text-white font-bold pb-10 uppercase justify-items-center">
        OFFICE NUMBER : 9789366492

    </div>
</div>


<app-footer></app-footer>